@charset 'utf-8';
@import 'reset.css';

body{
    background: #f5f5f5;
}
header{
    background: #fa5a2a;
    padding: 0.4rem 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .fa-angle-left{
        position: absolute;
        top: 0.4rem;
        left: 0.6rem;
        font-size: 0.95rem;
    }
    a{
        text-align: center;
        color: #fff;
        font-size: 0.85rem;
    }
}
.face{
    padding: 0.45rem 0;
    background: #fa5a2a;
    font-size: 0.65rem;
    color: #fff;
    display: flex;
    flex-flow: column;
    align-items: center;
    >div{
        img{
            width: 2.5rem;
        }
    }
    >p{
        font-size: 0.65rem;
        color: #fff;
        margin-top: 0.6rem;
    }
}
.count{
    padding:0.5rem 0.6rem;
    border-bottom: 1px solid #eee;
    font-size: 0.6rem;
    color: #8d8d8d;
}
.bigUl{
    li{
        padding: 0.3rem 0.4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.7rem;
        border-bottom: 1px solid #ccc;
        background: #fff;
        >div{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            >.fang{
                border-radius: 0.1rem;
                margin: 0 0.25rem;
                width: 1.3rem;
                line-height: 1.3rem;
                text-align: center;
                color: #fff;
            }
            .yellow{
                background: #ffac2c;
            }
            .red{
                background: #FA5A2A;
            }
            .blue{
                background: #03A9F5;
            }
            .green{
                background: #02D064;
            }
            span{
                margin-left: 0.35rem;
            }
        }
    }
}
.btn{
    display: block;
    margin: 0.7rem 0.5rem;
    font-size: 0.65rem;
    color: #fff;
    background: #fed555;
    text-align: center;
    padding: 0.4rem 0;
    border-radius: 0.1rem;
}
.xu{
    margin:0 0.65rem ;
    margin-top: 0.7rem;
    padding: 0.5rem 0;
    border: 0.05rem dashed #F7A187;
    font-size: 0.65rem;
    text-align: center;
    color: #F7A187;
    
    
}
